.container {
  padding-top: 15px;
}

.full-page {
  position: absolute;
  left: 0px;
}

#canvas {
  cursor: text;
}

table {
  width: 100%;
  table-layout: fixed;
}

th {
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

.top-buffer { 
  margin-top:20px; 
}
